/* Light Theme */
.root { -fx-base: #fafafa; -fx-background: #ffffff; -fx-control-inner-background: #ffffff; -fx-text-fill: #111827; }
.text-area { -fx-background-color: #ffffff; -fx-text-fill: #111827; }
.virtualized-scroll-pane { -fx-background-color: #ffffff; }
.code-area, .styled-text-area { -fx-background-color: #ffffff; }
.code-area .text, .styled-text-area .text { -fx-fill: #111827; }
/* selection */
.styled-text-area .selection { -fx-fill: #cbd5e1; }
.tab-pane *.tab-header-background { -fx-background-color: #e5e7eb; }
.menu-bar { -fx-background-color: #e5e7eb; }
